{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing e
                        a, asperiores, doloribus facilis sed eaque fugiat nihil excepturi veritatis omnis ullam earum, deleniti iusto recusa
                        ndae consectetur odio illum magni officia molestias.</p>
                        <div class="button">
                            <a href="">Read More</a>
                        </div>
                </div>
                <div class="social">
                    <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>

                </div>
            </div>
            <div class="image-section">
                <img src="{%static 'images/contactpage.jpg' %}">
            </div>



        </div>
    </div>

{% endblock %}