{% extends 'base.html' %}


{% block content %}

<div class="banner text-center" id="home">
            <h1>Need A Rooms</h1>
            <p>We are here to help</p>
        </div>
    </section>
    <div class="search text-center">
        <input type="number" class="form-control" placeholder="No of rooms">
        <input type="number" class="form-control" placeholder="price range">
        <input type="text" class="form-control" placeholder="Location">
        <input type="button" class="btn btn-primary" value="Find rooms">
    </div>

{% endblock %}