{% include 'base.html' %}
{% load static %}

<style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        h1{
            padding: 12px 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .star-rating{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,235,102,0.8575805322128851) 0%, rgba(30,143,170,0.7819502801120448) 100%);
        }

        .stars{
            width: 400px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;


        }
        .stars{
            list-style: none;
            font-size: 2rem;
            padding-left: 20px;
            color: white;
        }

        .stars:first-child{
            padding:0;
        }

        .output{
            width: 400px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #00b894;
            font-size: 1.2rem;

        }
        .next{
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #00b894;
            font-size: 1.2rem;
            outline: none;
            border: none;
        }
        .next:hover{
            color: #00b894;
            background: white;
            border: 2px solid #00b894;
            cursor: pointer;
        }
        .orange{
            color: orange;
        }

        .yellow{
            color: yellow;
        }

    </style>

{% block content %}



<form method="POST">
    {% csrf_token %}
<!--    <div class="star-rating">-->
<!--        <img src="{{ roomsData.image.url }}" width="450">-->

<!--        <ul class="stars">-->
<!--            <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--            <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--            <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--            <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--            <li class="star"><i class="fa fa-star" aria-hidden="true"></i></li>-->
<!--        </ul>-->



<!--        <p class="output"> Ratings </p>-->
<!--        <br>-->
<!--        <p> {{roomsData.description}} </p>-->
<!--        <br>-->
<!--        <button class="next" onclick="nextPage()">Submit</button>-->
<!--    </div>-->
<!--</form>-->

<h1>{{roomData.location}}</h1>
<form class="form-horizontal" role="search" method="post" action="{% url 'rating' roomsData.id %}" onsubmit="return validateForm()"  name="ratingForm">
    {% csrf_token %}
 <div class="star-rating">
     <img src="{{ roomsData.image.url }}" width="450">

                      <div class="stars">
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>

                     <input type="hidden" name="rating" class="rating-value" value="0" >

                      </div>
                    <p> {{roomsData.description|safe}} </p>
                     <input type="submit" class="next" value="submit">
 </div>
</form>





<script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>

	<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript">
    var $star_rating = $('.star-rating .fa');

    var SetRatingStar = function() {
        return $star_rating.each(function() {
        if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
        return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
        });
        };

    $star_rating.on('click', function() {
    $star_rating.siblings('input.rating-value').val($(this).data('rating'));
    return SetRatingStar();
    });

    SetRatingStar();
    $(document).ready(function() {

    });

</script>
<script type="text/javascript">
    function validateForm(){
    var x = document.forms["ratingForm"]["rating"].value;
    if(x=="0"){
        alert("Invalid Input");
        return false;
    }
    }
</script>



{% endblock %}








