*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.menu-bar{
    background-image: linear-gradient(to right, #009688, #ff5252);
}
.nav-link{
    font-size: 16px;
    color: #fff !important;
    margin: 2px;
}
.nav-link:hover{
    background: black;
}
.navbar-nav{
    text-align: right;
}
.menu-bar .navbar-toggler{
    padding-right: 0;
    outline: none;
    border: none;
}
.hello-msg{
    font-size: 16px;
    color: #fff;
    margin-right: 2px;


}
.banner{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.banner h1{
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.search{
    padding: 30px 0;
    margin: -50px 6% 50px;
    background-image: linear-gradient(to right, #009688, #ff5252);
}
.search .form-control{
    max-width: 250px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;
    box-shadow: none !important;
    border: none !important;
}
.search .btn-primary{
    border-radius: 0;
    box-shadow: none !important;
    border: none;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width:100%;
    height:auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section  .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;

}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding:12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding:0px 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}
@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;

    }
.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
.image-section{
    float: none;
    width: 100%;

}
.image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.content-section .title{
    text-align: center;
    font-size: 19px;
}
.content-section .content .button{
    text-align: center;
}
.content-section .content .button a{
    padding:9px 30px;
}
.content-section .social{
    text-align: center;
}
}






